body {
    background: turquoise;
}

h1 {
color: white;
background: orangered;
width: 500px;
text-align: center;
float: left;
padding: 10px 10px;
margin: 5px;

}

#gameDescription {
    color: green;
    background: peachpuff;
    float: left;
    width: 500px;
    padding: 10px 10px;
    margin: 5px;
    clear: both;
}

#points {
    color: purple;
    background: yellowgreen;
    font-weight: bold;
    font-size: 24px;
    float: left;
    width: 240px;
    padding: 10px 10px 50px;
    margin: 5px;
    clear: both;
}

#score {
    color: white;
    background: black;
    font-weight: bold;
    font-size: 24px;
    float: left;
    width: 230px;
    padding: 10px 10px 50px;
    margin: 5px;
}

#Crystal1 {
    clear: both;
}

#Crystal1,
#Crystal2,
#Crystal3,
#Crystal4 {
    margin: 10px;
    float: left;
}

#wins {
    color: purple;
    background: pink;
    font-weight: bold;
    float: left;
    width: 235px;
    padding: 10px;
    margin: 5px;
    clear: both;
}

#losses {
    color: purple;
    background: pink;
    font-weight: bold;
    float: left;
    width: 235px;
    padding: 10px;
    margin: 5px;
}